<tr>
	<td></td>
	<td class="truncate"><%= story.title %></td>
	<td><%= simple_format story.content.truncate(120) %></td>
	<td>
		<span class="badge<%= story.published? ? ' btn-brand' : ' btn-secondary' %>"><%= I18n.t("activerecord.story_status.#{story.status}") %></span>
	</td>
	<td class="text-right">
		<%= link_to edit_admin_story_path(story), class: "btn btn-link btn-primary btn-just-icon" do %>
			<i class="material-icons">edit</i>
		<% end %>
		<%= link_to admin_story_path(story), method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, class: "btn btn-link btn-danger btn-just-icon" do %>
			<i class="material-icons">delete_forever</i>
		<% end %>
	</td>
</tr>