<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-info card-header-icon">
						<div class="card-icon">
							<i class="material-icons">info_outline</i>
						</div>
						<h4 class="card-title"><%= Story.model_name.human count: 2 %></h4>
					</div>
					<div class="card-body">
						<div class="toolbar">
							<!--        Here you can write extra buttons/actions for the toolbar         -->
						</div>
						<div class="material-datatables">
							<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
								<thead>
									<tr>
										<th class="disabled-sorting"></th>
										<th class="all" style="min-width: 30px;"><%= Story.human_attribute_name(:id) %></th>
										<th class="all" style="min-width: 500px;"><%= Story.human_attribute_name(:title) %></th>
										<th class="none"><%= Story.human_attribute_name(:content) %></th>
										<th style="min-width: 80px;"><%= Story.human_attribute_name(:status) %></th>  
										<th class="disabled-sorting text-right" style="min-width: 170px;"><%= I18n.t("text.actions") %></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th class="disabled-sorting"></th>
										<th class="all" style="min-width: 30px;"><%= Story.human_attribute_name(:id) %></th>
										<th class="all" style="min-width: 500px;"><%= Story.human_attribute_name(:title) %></th>
										<th class="none"><%= Story.human_attribute_name(:content) %></th>
										<th style="min-width: 80px;"><%= Story.human_attribute_name(:status) %></th>  
										<th class="disabled-sorting text-right" style="min-width: 170px;"><%= I18n.t("text.actions") %></th>
									</tr>
								</tfoot>
								<tbody>
									<% @stories.each_with_index do |story, index| %>
									<tr>
										<td></td>
										<td><%= index + 1 %></td>
										<td><%= story.title %></td>
										<td><%= simple_format story.content.truncate(120) %></td>
										<td>
											<span class="badge<%= story.published? ? ' btn-brand' : ' btn-secondary' %>"><%= I18n.t("activerecord.story_status.#{story.status}") %></span>
										</td>
										<td class="text-right">
											<%= link_to edit_admin_story_path(story), class: "btn btn-link btn-primary btn-just-icon" do %>
												<i class="material-icons">edit</i>
											<% end %>
											<%= link_to admin_story_path(story), method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, class: "btn btn-link btn-danger btn-just-icon" do %>
												<i class="material-icons">delete_forever</i>
											<% end %>
										</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div><!-- end content-->
				</div>
			</div>
		</div>
	</div>
</div>