<div id="full_bg">
	<img src="/img/about_bg.png" alt="" height="100%" width="auto">
</div>
<section id="wrapper" class="latest_news d-flex align-content-end flex-column">
	<div class="section_title_wrapper align-self-center animated fadeInDown fast">
		<img src="/img/about/latest_news.svg", height="60px">
	</div>
	<div id="news_wrapper" class="d-flex justify-content-between flex-wrap align-self-center">
		<% @stories.each_slice(4).with_index do |news_4, index| %>
			<% news_4.each_with_index do |news, delay| %>
				<a href="<%= story_path(news) %>" class="news animated flipInX <%= 'active' if index == 0 %>" data-page="<%= index + 1 %>">
					<div class="news_img"><%= image_tag news.try_cover, alt: news.title %></div>
					<div class="news_date_title">
						<p class="news_date v400"><%= news.date.strftime("%Y. %m. %d") %></p>
						<h5 class="news_title v400 mb-0 <%= render_chinese_class(news.title) %>"><%= news.title %></h5>
					</div>
				</a>
			<% end %>
		<% end %>
	</div>
	<div class="dots d-flex justify-content-center">
		<% @stories.each_slice(4).with_index do |news_4, index| %>
			<div class="dot_wrapper <%= 'active' if index == 0 %>" data-page="<%= index + 1 %>">
				<div class="dot"></div>
			</div>	
		<% end %>
	</div>
</section>

<section id="wrapper" class="hong_u d-flex justify-content-center flex-column mx-auto">
	<div class="section_title_wrapper middle_bar align-self-center">
		<img src="/img/about/hong_u.svg", height="60px">
	</div>
	<div id="about_hong_u1">
		<div class="d-flex about_hong_u_wrapper">
			<div class="d-flex imgs_wrapper">
				<img src="/img/about/hong_u1_top.png" width="560px" height="300px">
				<div class="red_bg align-self-end"></div>
			</div>
			<div class="paragraph_wrapper">
				<%= simple_format I18n.t("views.about.about_hong_u1"), class: "v300" %>
			</div>
		</div>
	</div>
	<div id="about_hong_u2">
		<div class="d-flex about_hong_u_wrapper justify-content-between">
			<div class="paragraph_wrapper">
				<%= simple_format I18n.t("views.about.about_hong_u2"), class: "v300" %>
			</div>
			<div class="d-flex imgs_wrapper">
				<img src="/img/about/hong_u2_top.png" width="435px" height="438px">
				<div class="red_bg align-self-end"></div>
			</div>
		</div>
	</div>
	<div id="about_hong_u3">
		<div class="d-flex about_hong_u_wrapper">
			<div class="d-flex imgs_wrapper">
				<img src="/img/about/hong_u3_top.png" width="435px" height="402px">
				<div class="red_bg align-self-end"></div>
			</div>
			<div class="paragraph_wrapper">
				<%= simple_format I18n.t("views.about.about_hong_u3"), class: "v300" %>
			</div>
		</div>
	</div>
	<div id="about_hong_u4" class="d-flex justify-content-center">
		<div class="d-flex flex-column text-center">
			<img src="/img/about/Attentive.svg" alt="Attentive" width="145px" height="145px">
			<span class="v700">ATTENTIVE</span>
		</div>
		<div class="d-flex flex-column text-center">
			<img src="/img/about/profession.svg" alt="Profession" width="145px" height="145px">
			<span class="v700">PROFESSION</span>
		</div>
		<div class="d-flex flex-column text-center">
			<img src="/img/about/THE Best.svg" alt="Best" width="145px" height="145px">
			<span class="v700">BEST</span>
		</div>
		<div class="d-flex flex-column text-center">
			<img src="/img/about/effectiveness.svg" alt="Effectiveness" width="145px" height="145px">
			<span class="v700">EFFECTIVENESS</span>
		</div>
		<div class="bar_white"></div>
		<div class="bar_color"></div>
	</div>
</section>

<section id="wrapper" class="history d-flex align-content-end flex-column">
	<div class="section_title_wrapper middle_bar align-self-center">
		<img src="/img/about/history.svg", height="60px">
	</div>
	<div class="d-flex history_wrapper justify-content-between">
		<div class="years_wrapper">
			<div class="year_bar"></div>
			<div class="year_anchor" id="triangle-right"></div>
			<div class="red_rec" data-year="1998" style="top: 0px;"></div>
			<div class="year v700" style="top: 0px;">1998</div>
			<div class="red_rec" data-year="2002" style="top: 120px;"></div>
			<div class="year v700" style="top: 120px;">2002</div>
			<div class="red_rec" data-year="2004" style="top: 240px;"></div>
			<div class="year v700" style="top: 240px;">2004</div>
			<div class="red_rec" data-year="2006" style="top: 300px;"></div>
			<div class="year v700" style="top: 300px;">2006</div>
			<div class="red_rec" data-year="2007" style="top: 360px;"></div>
			<div class="year v700" style="top: 360px;">2007</div>
			<div class="red_rec" data-year="2008" style="top: 420px;"></div>
			<div class="year v700" style="top: 420px;">2008</div>
			<div class="red_rec" data-year="2009" style="top: 480px;"></div>
			<div class="year v700" style="top: 480px;">2009</div>
			<div class="red_rec" data-year="2010" style="top: 540px;"></div>
			<div class="year v700" style="top: 540px;">2010</div>
		</div>
		<div class="paragraph_wrapper">
			<div class="red_bg">
				<span class="year_active v700">1998</span>
			</div>
			<p class="v300">
				Hongyou Technology Co., Ltd. was founded in 1998 and is the ex&#8208;clusive agent of Japan ASTEC (DNA Amplifier, CO2 Incubator) in Taiwan. The company also represents and sells cutting-edge equipment related to biotechnology/medical research and has obtained various research units in China. The adoption of pharmaceutical related industries. In the field of reproductive centers, we have successfully sold small carbon dioxide / three gas incubators, VOC filters, vitrified rapid freezing / thawing reagents and other related products. Distribution of ADVANTEC filtration related products such as filter membranes, filter paper, filter and pressure tanks and other filtration equipment. In the semiconductor division, we have added various types of PFA products, designed and manufactured stainless steel filtration equipment, various pressure vessels, and agita- tion filtration equipment, and our sales performance customers include major semiconductors, special chemicals, and photovoltaic power plants.
			</p>
		</div>
	</div>
</section>