<div id="full_bg" class="text-center w-100">
	<img src="/img/products/products_bg.png" alt="" height="100%" width="auto">
</div>
<section id="products_finder_section" class="d-flex align-content-end flex-column">
	<% if @root.finder_bg.attached? %>
		<div id="products_finder_wrapper" class="d-flex" style="background: url('<%= rails_blob_path(@root.finder_bg) %>'), #ef0105;" data-target="root_bg">
	<% else %>
		<div id="products_finder_wrapper" class="d-flex" data-target="root_bg">
	<% end %>
		<div id="left_product_finder_wrapper">
			<div class="product_finder_title d-flex">
				<img src="/img/products/search.svg" alt="search" width="33px" height="33px" id="search_product_icon">
				<div class="product_finder_title_text">
					<h2 class="v700 mb-0">PRODUCT FINDER</h2>
					<p class="v300">find the product you need</p>
				</div>
			</div>
			<div class="product_finder_form_wrapper">
				<%= form_for :product do |f| %>
					<label for="product_category" class="v300">
					  Product Classication
					  <%= f.select :category, Category.roots.each_with_index.map { |c, index| [c.name, c.id, { data: { id: (index + 1).to_s.rjust(2, '0'), name: c.name, description: c.description, bg: c.finder_bg.attached? ? url_for(c.finder_bg) : nil } }] }, { selected: params[:root_id] }, class: "form-control v700 select2" %>
					  <!-- <select name="product[category]" id="product_category" class="form-control v700">
							<option value="1">01 Life Science Animal Science</option>
						</select> -->
					</label>
					<div class="two_selects_wrapper d-flex">
						<label for="product_brand" class="v300">
						  Brand
						  <%= select_tag :product_brand, options_from_collection_for_select(Category.roots.first.children, "id", "name", nil), prompt: "-", class: 'form-control v700 select2' %>
						  <!-- <select name="product[brand]" id="product_brand" class="form-control v700">
								<option value="">-</option>
							</select> -->
						</label>
						<label for="product_series" class="v300">
						  Series
						  <select name="product[series]" id="product_series" class="form-control v700 select2">
								<option value="1">-</option>
							</select>
						</label>
					</div>
				<% end %>
			</div>
		</div>
		<div id="right_product_info_wrapper" class="d-none d-lg-flex align-content-end flex-column align-self-right">
			<div class="d-flex number_title_wrapper">
				<div class="section_number d-flex">
					<h2 class="v700 align-self-center" data-target="root_id"><%= @root.present? ? @root.id.to_s.rjust(2, '0') : "01" %></h2>
				</div>
				<div class="section_title">
					<h2 class="v700"><%= simple_format @root.name, data: { target: "root_name" }, class: "mb-0" %></h2>
				</div>
			</div>
			<div class="paragraph_wrapper">
				<%= simple_format @root.try(:description), class: "v300", data: { target: "root_description" } %>
			</div>
		</div>
	</div>
</section>
<section id="products_section" class="d-flex flex-wrap mx-auto">
	<%= render @products %>
	<!-- <a href="#" class="product_wrapper">
		<div class="product_img">
			<img src="">
		</div>
		<span class="product_brand_series">
			<span class="product_brand">ASTEC</span> - <span class="product_series">滅菌型培養箱</span>
		</span>
		<h3 class="product_name">滅菌型 / 直熱式二氧化碳培養箱</h3>
	</a>
	<a href="#" class="product_wrapper">
		<div class="product_img">
			<img src="">
		</div>
		<span class="product_brand_series">
			<span class="product_brand">ASTEC</span> - <span class="product_series">滅菌型培養箱</span>
		</span>
		<h3 class="product_name">滅菌型 / 直熱式二氧化碳培養箱22222</h3>
	</a> -->
</section>