<a href="/contact" id="contact_btn" class="text-right">
	<%= image_tag "/img/contact.svg", height: '100px'; %>
</a>
<div id="download_sections_wrapper" class="d-flex">
	<section id="download_bg_section" class="d-flex align-content-end flex-column w-100">
		<div id="download_bg_wrapper" class="d-flex align-items-end justify-content-center">
			<div id="download_bg"></div>
		</div>
	</section>

	<section id="download_items_section" class="d-flex align-content-end flex-column">
		<div id="right_half" class="align-self-end">
			<div class="download-item d-flex flex-column">
				<h5 class="v700 mb-0 story-date"><%= @story.date.strftime("%Y.%m.%d") %></h5>
				<h2 class="v700 story-title"><%= @story.title %></h2>
				<p class="v400 ml-0"><%= @story.content %></p>
				<%= link_to :back, id: "back_btn" do %>
					<img src="/img/about/back.svg" style="max-width: 130px;">
				<% end %>
			</div>
		</div>
	</section>
</div>