<%= form_for [:admin, variety] do |f| %>
	<% @form_id = f.options[:html][:id] %>
	<div class="card-body">
		<div class="form-group bmd-form-group mb-4">
			<% if variety.new_record? %>
				<%= f.label :product_id %>
				<%= f.select :product_id, Product.all.pluck(:zh_name, :id), { selected: variety.product_id || params[:product_id] }, class: "form-control" %>
			<% else %>
				<label>所屬產品：<%= link_to variety.product.name, edit_admin_product_path(variety.product) %></label>
			<% end %>
		</div>
		<div class="row mb-4">
      <div class="col-md-2">
			  <div class="form-group bmd-form-group">
					<%= f.label :zh_name, class: "bmd-label-floating" %>
					<%= f.text_field :zh_name, class: "form-control" %>
				</div>
				<div class="form-group bmd-form-group">
					<%= f.label :en_name, class: "bmd-label-floating" %>
					<%= f.text_field :en_name, class: "form-control" %>
				</div>
			</div>
		</div>
		<%= f.fields_for :features, @variety.features.order(zh_name: :asc, en_name: :asc) do |feature_form| %>
			<%= render "feature_fields", f: feature_form %>
		<% end %>
		<div class="links">
	  	<%= link_to_add_association '增加規格', f, :features %>
	  </div>
	  <% ["zh_name", "en_name", "zh_value", "en_value"].each do |datalist_attr| %>
	  	<datalist id="feature_<%= datalist_attr %>_list">
		  	<% Feature.all.pluck(datalist_attr.to_sym).compact.uniq.each do |attr_name| %>
		  		<option><%= attr_name %></option>
		  	<% end %>
		  </datalist>
	  <% end %>
	</div>
<% end %>
<div class="card-footer ">
	<%= submit_tag I18n.t("helpers.submit.#{action_name}"), class: "btn btn-fill btn-brand", form: @form_id %>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		setFormValidation("<%= '#' + @form_id %>");
	})
</script>