<div class="sidebar" data-color="rose" data-background-color="black" data-image="/img/Hero1_1280x800.png">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
      <a href="/" class="simple-text logo-mini">
       弘
     </a>

     <a href="/" class="simple-text logo-normal">
       弘優生醫
     </a>

   </div>

   <div class="sidebar-wrapper">
    <div class="user">
          <!-- <div class="photo">
            <img src="/img/avatar.jpg" alt="Admin"/>
          </div> -->
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
               IT
               <b class="caret"></b>
             </span>
           </a>
           <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> MP </span>
                  <span class="sidebar-normal"> My Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> EP </span>
                  <span class="sidebar-normal"> Edit Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> S </span>
                  <span class="sidebar-normal"> Settings </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">

        <li class="nav-item <%= 'active' if current_page?(admin_root_path) %>">
          <a class="nav-link" href="/admin">
            <i class="material-icons">dashboard</i>
            <p> 主控台 </p>
          </a>
        </li>

        <li class="nav-item <%= 'active' if current_page?(admin_stories_path) %>">
          <a class="nav-link" href="/admin/stories">
            <i class="material-icons">info_outline</i>
            <p><%= Story.model_name.human %> </p>
          </a>
        </li>

        <li class="nav-item <%= 'active' if current_page?(admin_catalogues_path) %>">
          <a class="nav-link" href="/admin/catalogues">
            <i class="material-icons">library_books</i>
            <p><%= Catalogue.model_name.human %></p>
          </a>
        </li>

        <li class="nav-item <%= 'active' if current_page?(admin_products_path) || current_page?(admin_categories_path) %>">
          <a class="nav-link" data-toggle="collapse" href="#productCatagories" aria-expanded="<%= current_page?(admin_products_path) || current_page?(admin_categories_path) %>">
            <i class="material-icons">store</i>
            <p><%= Product.model_name.human %><b class="caret"></b></p>
          </a>

          <div class="collapse <%= 'show' if current_page?(admin_products_path) || current_page?(admin_categories_path) %>" id="productCatagories">
            <ul class="nav">
              <% Category.roots.each do |root| %>
              <li class="nav-item <%= 'active' if params[:category_id].to_i == root.id %>">
                <a class="nav-link" data-toggle="collapse" href="#productCatagories<%= root.id %>">
                  <p><%= root.name %><b class="caret"></b></p>
                </a>
                <div class="collapse <%= 'active' if params[:category_id].to_i == root.id %>" id="productCatagories<%= root.id %>">
                  <ul class="nav">
                    <% root.children.each do |child| %>
                    <li class="nav-item <%= 'active' if params[:category_id].to_i == child.id %>">
                      <a class="nav-link" data-toggle="collapse" href="#productCatagories<%= child.id %>">
                        <p><%= child.name %><b class="caret"></b></p>
                      </a>
                      <div class="collapse <%= 'show' if params[:category_id].to_i == child.id %>" id="productCatagories<%= child.id %>">
                        <ul class="nav">
                          <% child.children.each do |child_child| %>
                          <li class="nav-item <%= 'active' if params[:category_id].to_i == child_child.id %>">
                            <a class="nav-link" data-toggle="collapse" href="#productCatagories<%= child_child.id %>">
                              <p><%= child_child.name %></p>
                            </a>
                          </li>
                          <% end %>
                        </ul>
                      </div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#languages">
              <i class="material-icons">language</i>
              <p> 語系
                 <b class="caret"></b>
              </p>
          </a>

          <div class="collapse" id="languages">
              <ul class="nav">
                  <li class="nav-item">
                      <a class="nav-link" href="<%#= url_for(locale: 'en') %>">
                          <span class="sidebar-mini"> EN </span>
                          <span class="sidebar-normal"> English </span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="<%#= url_for(locale: 'zh-TW') %>">
                          <span class="sidebar-mini"> 繁 </span>
                          <span class="sidebar-normal"> 繁體中文 </span>
                      </a>
                  </li>
              </ul>
          </div>
        </li> -->

      </ul>
    </div>
  </div>