<div class="card-body ">
	<%= form_for [:admin, category] do |f| %>
		<% @form_id = f.options[:html][:id] %>

		<div class="form-group bmd-form-group">
			<%= f.label :parent_id %>
			<%= f.select :parent_id, grouped_options_for_select(Category.available_levels, selected: category.parent_id || params[:parent_id]), {}, class: "form-control" %>
		</div>

		<div class="clearfix my-5"></div>

	  <div class="form-group bmd-form-group">
			<%= f.label :zh_name, class: "bmd-label-floating" %>
			<%= f.text_field :zh_name, class: "form-control" %>
		</div>

		<div class="form-group bmd-form-group">
			<%= f.label :zh_description, class: "bmd-label-floating" %>
			<%= f.text_area :zh_description, class: "form-control", rows: 4 %>
		</div>

		<div class="clearfix my-5"></div>

		<div class="form-group bmd-form-group">
			<%= f.label :en_name, class: "bmd-label-floating" %>
			<%= f.text_field :en_name, class: "form-control" %>
		</div>

		<div class="form-group bmd-form-group">
			<%= f.label :en_description, class: "bmd-label-floating" %>
			<%= f.text_area :en_description, class: "form-control", rows: 4 %>
		</div>

		<div class="clearfix my-5"></div>

		<% if category.persisted? && category.root? %>
			<div class="form-group bmd-form-group">
		    <label>分類圖示</label><br>
		    <div class="fileinput <%= category.cover.attached? ? 'fileinput-exists' : 'fileinput-new' %> text-center" data-provides="fileinput">
	        <div class="fileinput-preview fileinput-exists thumbnail" style="">
	    			<% if category.cover.attached? %>
		        	<%= image_tag(category.cover.variant(resize: "600x600>")) %>
		        <% end %>
		      </div>
			    <br>
	        <span class="btn btn-rose btn-round btn-file">
	          <span class="fileinput-new">選擇圖片</span>
	          <span class="fileinput-exists">更換</span>
	          <input type="hidden">
	          <%= f.file_field :cover, accept: ".png, .jpg, .jpeg" %>
	          <%#= image_tag category.try_cover, style: "max-width: 100%;", class: "previewer", data: { file: "input#tag_icon" } %>
	        	<div class="ripple-container"></div>
	      	</span>
	        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> 移除</a>
		    </div>
		  </div>
		  <div class="form-group bmd-form-group">
		    <label>代表產品圖</label><br>
		    <div class="fileinput <%= category.product_cover.attached? ? 'fileinput-exists' : 'fileinput-new' %> text-center" data-provides="fileinput">
	        <div class="fileinput-preview fileinput-exists thumbnail" style="">
	    			<% if category.product_cover.attached? %>
		        	<%= image_tag(category.product_cover.variant(resize: "600x600>")) %>
		        <% end %>
		      </div>
			    <br>
	        <span class="btn btn-rose btn-round btn-file">
	          <span class="fileinput-new">選擇圖片</span>
	          <span class="fileinput-exists">更換</span>
	          <input type="hidden">
	          <%= f.file_field :product_cover, accept: ".png, .jpg, .jpeg" %>
	          <%#= image_tag category.try_cover, style: "max-width: 100%;", class: "previewer", data: { file: "input#tag_icon" } %>
	        	<div class="ripple-container"></div>
	      	</span>
	        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> 移除</a>
		    </div>
		  </div>
		<% end %>
	<% end %>
</div>
<div class="card-footer ">
	<%= submit_tag I18n.t("helpers.submit.#{action_name}"), class: "btn btn-fill btn-brand", form: @form_id %>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		setFormValidation("<%= '#' + @form_id %>");
	})
</script>