<div class="card">
	<div class="card-header card-header-danger card-header-icon">
		<%= link_to new_admin_category_path do %>
			<div class="card-icon rounded-circle float-right newBtn">
				<i class="material-icons">add</i>
			</div>
		<% end %>
		<h4 class="card-title">產品分類 - <small class="description">由左往右為「總類」 - 「品牌」 - 「系列」 - 「產品」</small></h4>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
					<li class="nav-item text-center">
						<h5><%= I18n.t("activerecord.category_level.level0") %></h5>
					</li>
					<% if @category_roots.present? %>
						<% @category_roots.order(id: :asc).each do |root| %>
							<li class="nav-item text-center">
								<a class="nav-link" data-toggle="tab" href="#link<%= root.id %>" role="tablist">
									<%= simple_format root.name, class: "mb-0" %>
								</a>
								<span class="nav-sm-links">
			            <%= link_to new_admin_category_path(parent_id: root.id), class: "btn btn-warning btn-sm nav-sm-link" do %>
			              新增下級
			            <% end %>
									<%= link_to edit_admin_category_path(root), class: "btn btn-primary btn-sm nav-sm-link" do %>
			              編輯名稱及圖示
			            <% end %>
			            <%= link_to admin_category_path(root), class: "btn btn-danger btn-sm nav-sm-link", method: :delete, data: { confirm: "這會刪除底下的所有分類、產品、資料，而且無法復原，真的要繼續嗎？" } do %>
			              刪除
			            <% end %>
			          </span>
							</li>
						<% end %>
					<% else %>
						<li class="nav-item text-center">
							尚未建立
						</li>
					<% end %>
				</ul>
			</div>
			<% Category.total_level.times do |i| %>
				<div class="col-md-3">
					<div class="tab-content">
						<% Category.where(depth: i).order(id: :asc).each do |category| %>
							<div class="tab-pane" id="link<%= category.id %>">
								<ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
									<li class="nav-item text-center">
										<h5><%= I18n.t("activerecord.category_level.level#{i + 1}") %></h5>
									</li>
									<% category.children.order(id: :asc).each do |child| %>
									<li class="nav-item text-center">
										<%# has_children = (!child.leaf? || child.products.size > 0) %>
										<a class="nav-link" data-toggle="tab" href="<%= '#link' + child.id.to_s %>" role="tablist">
											<%= child.name %>
										</a>
										<span class="nav-sm-links">
											<%= link_to admin_products_path(category_id: child.id), class: "btn btn-info btn-sm nav-sm-link" do %>
					              相關產品
					            <% end %>
					            <% unless child.level == Category.total_level %>
						            <%= link_to new_admin_category_path(parent_id: child.id), class: "btn btn-warning btn-sm nav-sm-link" do %>
						              新增下級
						            <% end %>
						          <% end %>
					            <%= link_to edit_admin_category_path(child), class: "btn btn-primary btn-sm nav-sm-link" do %>
					              編輯
					            <% end %>
					            <%= link_to admin_category_path(child), class: "btn btn-danger btn-sm nav-sm-link", method: :delete, data: { confirm: "這會刪除底下的所有分類、產品及其複製的產品、資料，而且無法復原，真的要繼續嗎？" } do %>
					              刪除
					            <% end %>
										</span>
									</li>
									<% end %>
								</ul>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
			<div class="col-md-3">
				<div class="tab-content">
					<% Product.includes(:twin, :category, category: :products).all.each do |product| %>
						<div class="tab-pane" id="link<%= product.category_id %>">
							<ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
								<li class="nav-item text-center">
									<h5><%= Product.model_name.human %></h5>
								</li>
								<% product.category.products.each do |product| %>
									<li class="nav-item text-center">
										<a class="nav-link" data-toggle="tab" href="#link" role="tablist">
											<%= product.admin_name %>
										</a>
										<span class="nav-sm-links">
					            <a href="<%= edit_admin_product_path(product) %>" class="btn btn-primary btn-sm nav-sm-link">
					              編輯產品資料
					            </a>
										</span>
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>