<div class="card">
	<div class="card-header card-header-danger card-header-icon">
		<div class="card-icon">
			<i class="material-icons">store</i>
		</div>
		<% if @category.present? && @category.level == Category.total_level %>
			<%= link_to new_admin_product_path(category_id: params[:category_id]) do %>
				<div class="card-icon rounded-circle float-right newBtn">
					<i class="material-icons">add</i>
				</div>
			<% end %>
		<% end %>
		<% if @category.present? && @category.level == 0 %>
			<%= link_to reorder_admin_products_path, id: "submit_ordering_inputs" do %>
				<div class="card-icon rounded-circle float-right subBtn" style="margin-right: 20px;">
					<i class="material-icons">save</i>
				</div>
			<% end %>
		<% end %>
		<h4 class="card-title"><%= Product.model_name.human count: 2 %></h4>
	</div>
	<div class="card-body">
		<div class="toolbar">
			<!--        Here you can write extra buttons/actions for the toolbar         -->
		</div>
		<div class="material-datatables">
			<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
				<thead>
					<tr>
						<th class="disabled-sorting"></th>
						<th class="all"><%= Product.human_attribute_name(:category) %></th>
						<th class="all"><%= Product.human_attribute_name(:name) %></th>
						<th class="none"><%= Product.human_attribute_name(:description) %></th>
						<th><%= Product.human_attribute_name(:status) %></th>
						<th><%= Product.human_attribute_name(:ordering) %></th>
						<th class="disabled-sorting text-right"><%= I18n.t("text.actions") %></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th class="disabled-sorting"></th>
						<th class="all"><%= Product.human_attribute_name(:category) %></th>
						<th class="all"><%= Product.human_attribute_name(:name) %></th>
						<th class="none"><%= Product.human_attribute_name(:description) %></th>
						<th><%= Product.human_attribute_name(:status) %></th>
						<th><%= Product.human_attribute_name(:ordering) %></th>
						<th class="disabled-sorting text-right"><%= I18n.t("text.actions") %></th>
					</tr>
				</tfoot>
				<tbody>
					<%= render @products %>
				</tbody>
			</table>
		</div>
	</div><!-- end content-->
</div>

<script type="text/javascript">
	document.querySelector("#submit_ordering_inputs").addEventListener("click", function(e) {
		e.preventDefault()
		var url = this.getAttribute("href")
		$.ajax({
			url: url,
			method: "post",
			data: $(".product-ordering-input").serialize()
		}).done(function() {
			location.reload()
		})
	})
</script>