<div class="card-body ">
	<%= form_for [:admin, catalogue] do |f| %>
		<% @form_id = f.options[:html][:id] %>

		<div class="form-group bmd-form-group">
	    <label>目錄檔案</label><br>
	    <% file_exist = catalogue.file.attached? %>
	    <div class="fileinput <%= file_exist ? 'fileinput-exists' : 'fileinput-new' %> text-center" data-provides="fileinput">
        <div class="fileinput-preview fileinput-exists thumbnail" style="">
        	<% if file_exist %>
	        	<% if catalogue.file.previewable? %>
			        <%= link_to(image_tag(catalogue.file.preview(resize: "600x600>")),  rails_blob_path(catalogue.file, disposition: "attachment"))
			        %>
			      <% elsif catalogue.file.variable? %>
			        <%= link_to(image_tag(catalogue.file.variant(resize: "600x600")), rails_blob_path(catalogue.file, disposition: "attachment"))%>
			      <% else %>
			      	<div class="my-3">
			        	<%= link_to "下載附件 #{catalogue.file.filename.to_s}", rails_blob_path(catalogue.file, disposition: "attachment") %>
			        </div>
			      <% end %>
			    <% end %>
        </div>
        <div>
          <span class="btn btn-rose btn-round btn-file">
            <span class="fileinput-new">選擇檔案</span>
            <span class="fileinput-exists">更換</span>
            <input type="hidden">
            <%= f.file_field :file, accept: ".png, .jpg, .jpeg, .pdf" %>
          	<div class="ripple-container"></div>
        	</span>
          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> 移除</a>
        </div>
	    </div>
	  </div>

	  <div class="clearfix my-5"></div>

		<div class="form-group bmd-form-group">
			<%= f.label :zh_name, class: "bmd-label-floating" %>
			<%= f.text_area :zh_name, class: "form-control" %>
		</div>
		<div class="form-group bmd-form-group">
			<%= f.label :zh_description, class: "bmd-label-floating" %>
			<%= f.text_area :zh_description, class: "form-control", rows: 5 %>
		</div>
		<div class="clearfix my-5"></div>
		<div class="form-group bmd-form-group">
			<%= f.label :en_name, class: "bmd-label-floating" %>
			<%= f.text_area :en_name, class: "form-control" %>
		</div>
		<div class="form-group bmd-form-group">
			<%= f.label :en_description, class: "bmd-label-floating" %>
			<%= f.text_area :en_description, class: "form-control", rows: 5 %>
		</div>
		<div class="clearfix my-5"></div>
		<div class="form-group bmd-form-group">
			<div class="togglebutton">
		  	<label>
		  			<%= f.check_box :status, {}, "published", "draft" %>
	          <span class="toggle bg-brand"></span>
	            上架至前台
		  	</label>
		  </div>
		</div>
	<% end %>
</div>
<div class="card-footer ">
	<%= submit_tag I18n.t("helpers.submit.#{action_name}"), class: "btn btn-fill btn-brand", form: @form_id %>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		setFormValidation("<%= '#' + @form_id %>");
	})
</script>