<div class="product-comparison">
	<div class="product-data__block-title">型號規格</div>
	<% if product.persisted? && in_admin? %>
		<%= link_to new_admin_variety_path(product_id: product.id), class: "btn btn-brand" do %>
      <i class="material-icons">add</i> 建立型號
		<% end %>
	<% end %>
	<% if product.varieties.present? %>
		<div class="product-comparison__table-wrapper js-product-comparison__table-wrapper">
			<% names_array = product.all_variety_feature_names.flatten.uniq.sort_by!{ |m| m.downcase } %>
			<table class="table text-center">
				<tbody>
					<tr class="attribute_names">
						<th nowrap="true">型號</th>
						<% names_array.each do |feature_name| %>
							<th nowrap="true"><%= feature_name %></th>
						<% end %>
					</tr>
					<% product.varieties.each do |va| %>
						<tr>
							<th nowrap="true" data-highlight="<%= va.id %>">
								<%= va.name %><br>
								<% if in_admin? %>
									<%= link_to edit_admin_variety_path(va), data: { turbolinks: false } do %>
										<i class="material-icons">edit</i>
									<% end %>
									<%= link_to admin_variety_path(va), method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, title: "永久刪除" ,class: "btn btn-link btn-danger btn-just-icon" do %>
										<i class="material-icons">delete_forever</i>
									<% end %>
								<% end %>
							</th>
							<% names_array.each_with_index do |feature_name, index| %>
								<% if va.features.where("zh_name LIKE :name OR en_name LIKE :name", name: feature_name).present? %>
									<% value = va.features.where("zh_name LIKE :name OR en_name LIKE :name", name: feature_name).first.value %>
									<td data-name="<%= feature_name %>" data-highlight="<%= va.id %>" rowspan=""><%= value %></td>
								<% else %>
									<td data-name="<%= feature_name %>" data-highlight="<%= va.id %>" rowspan="">X</td>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
		<% if product.new_record? %>
			<small>請先建立產品本身資料，才能建立型號。</small>
		<% end %>
	<% end %>
</div>