<section class="d-flex align-content-end flex-column images-section js-images-section">
	<div class="d-flex align-items-end justify-content-center images-wrapper">
		<% if product.images.attached? %>
			<div class="image--active js-image--active"
			style='background-image: url("<%= rails_blob_path(product.images.first) %>"); background-image: url("<%= rails_blob_path(product.images.first) %>"); background-image: url("<%= rails_blob_path(product.images.first) %>");'></div>
			<div class="image--blur-bg js-image--blur-bg" style='background-image: url("<%= rails_blob_path(product.images.first) %>"); background-image: url("<%= rails_blob_path(product.images.first) %>"); background-image: url("<%= rails_blob_path(product.images.first) %>"); filter: blur(5px);'></div>
			<div class="d-flex justify-content-between image-thumbs">
				<% product.images.each do |img| %>
					<%= image_tag img, class: "image--thumb js-image--thumb" %>
				<% end %>
			</div>
		<% else %>
			<!-- <div class="image--active"></div>
			<div class="d-flex justify-content-between images">
				<div class="image">
					<img src="">
				</div>
			</div> -->
		<% end %>
	</div>
</section>