<div class="d-flex sections">

	<%= render "images_section", product: @product.twin || @product %>

	<section class="d-flex align-content-end flex-column product-data-section">
		<div class="d-flex flex-column product-data">
			<span class="product-data__category v700">
				<span class="product-data__category--brand"><%= @product.category.parent.name %></span> - <span class="product__category--series"><%= @product.category.name %></span>
			</span>
			<div class="product-data__variety d-flex">
				<label for="product-data_variety_name" class="v700 mb-0 border-right-0">MDOEL</label>
				<%= select_tag :product_variety_name, options_from_collection_for_select(@product.varieties, "id", "zh_name"), prompt: "Choose one to highlight", class: 'form-control v700 select2' %>
				<!-- <select name="product[model]" id="product_model" class="form-control v700">
					<option value="1">01 Life Science Animal Science</option>
					<option value="2">01 Life Science Animal Science</option>
					<option value="3">01 Life Science Animal Science</option>
				</select> -->
			</div>

			<h2 class="product-data__name js-product-data__name"><%= @product.name %></h2>

			<div class="product-data__detail">
				<div class="product-data__title">DETAIL</div>
				<div class="product-data__description">
					<%= simple_format @product.description %>
				</div>
				<% if @product.t_file.attached? %>
					<%= link_to rails_blob_path(@product.t_file, disposition: "attachment"), id: "see_more_btn", class: "d-flex" do %>
						<div class="mr-auto align-self-center see_more_text download_dm_text v700">廠商型錄下載</div>
					<% end %>
				<% end %>
			</div>

			<% if @product.varieties.present? %>
				<%= render "comparison_table", product: @product.twin || @product %>
			<% end %>

			<div class="related-products">
				<div class="product-data__block-title">RELATED PRODUCTS</div>
				<div class="related-products__products d-flex flex-wrap justify-content-between">
					<%= render @product.category.products.limit(4) %>
				</div>
			</div>
		</div>   <!-- #product_data_wrapper -->
		<%= render "common/footer" %>
	</section> <!-- product_data_section -->
</div>