<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="弘優生技" name="keywords">
    <meta content="弘優生技有限公司：您可以信賴的生技檢測公司" name="description">
    <meta content="弘優生技" property="og:title">
    <meta content="弘優生技" property="og:site_name">
    <meta content="弘優生技有限公司：您可以信賴的生技檢測公司" property="og:description">
    <meta content="<%= root_url %>assets/img/og_image.jpg" property="og:image">
    <%= yield(:head) %>
    <title><%= @page_title %></title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <!-- <link rel="icon" href="../assets/img/favicon.png"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbolinks_cache_control_meta_tag %>
    
    <!--     Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.typekit.net/nna1wos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/zh-TW.js"></script>
  </head>

  <body class="<%= controller_name %> <%= action_name %> front <%= 'mobile' if browser.mobile? %>">
    <%= render "common/nav" %>
    <div class="main_wrapper">
      <%= yield %>
    </div>
    <% unless @custom_footer == true %>
      <%= render "common/footer" %>
    <% end %>
  </body>
</html>
